In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [21]:
def clean_df(df):
    df = df[df.caption != '']
    return df.reset_index(drop=True)

In [24]:
rev_dpath = '../data/outputs/reviews/'
        
rev_files = [rev_dpath+ f for f in os.listdir(rev_dpath)]
df_rev = pd.DataFrame()
for file in rev_files:
    
    df = pd.read_json(file)
    df_clean = clean_df(df)
    df_clean['place_id'] = file.split('_')[0].split('/')[-1]
    df_rev = pd.concat((df_rev, df_clean), ignore_index=True)

In [32]:
rev_dpath = '../data/outputs/cbg_restaurants/'
        
rev_files = [rev_dpath+ f for f in os.listdir(rev_dpath)]
df_rest = pd.DataFrame()
for file in rev_files[:500]:
    
    df = pd.read_json(file)

    df_rest = pd.concat((df_rest, df), ignore_index=True)

In [34]:
df_rest['place_id']

0       ChIJOSHG1AIbiYgR15xA49Zadl4
1       ChIJNe0mPMkbiYgR6oApk2Pt7F8
2       ChIJFdCPZt3yjIgR_Qxv-sQ4Gpk
3       ChIJFdCPZt3yjIgRnCIXz-jIfVw
4       ChIJ6115yuDyjIgR9yxR7HXnu6o
                   ...
3410    ChIJpZNo1QvTD4gRD6VOnivHTc0
3411    ChIJhxWqHATND4gRW4vPUI6hlMs
3412    ChIJIeES_wrTD4gRV5965LDKl-8
3413    ChIJxwAB-QrTD4gRoLW0B2w9fRM
3414    ChIJuyrgVQrTD4gRL1A3vwLSslg
Name: place_id, Length: 3415, dtype: object

In [40]:
df_rev.join(df_rest.set_index('place_id'),on = 'place_id',lsuffix='rest_', how='left')

,id_review,caption,relative_date,retrieval_date,ratingrest_,username,n_review_user,n_photo_user,url_user,census_block_group,...,reference,scope,types,vicinity,rating,user_ratings_total,CBG,Radius,price_level,permanently_closed
0,ChZDSUhNMG9nS0VJQ0FnSUN3a0tYS0N3EAE,Money to pawy secy y QPRyiy,2 years ago,2021-03-23,1,Prathamesh Adhikari,1,0,https://www.google.com/maps/contrib/1146220333...,10730027002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ChZDSUhNMG9nS0VJQ0FnSUN5LWZtWmZnEAE,One of my new favorite places ðŸ˜‹,a month ago,2021-03-23,5,Monica Crist,20,0,https://www.google.com/maps/contrib/1173007091...,10810402004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ChZDSUhNMG9nS0VJQ0FnSUQ4dTVxcWFREAE,I got the Peanut Butter Cup Shake and it was r...,7 months ago,2021-03-23,5,Paulina White,0,0,https://www.google.com/maps/contrib/1064251582...,10810402004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ChdDSUhNMG9nS0VJQ0FnSURjNXVDM25nRRAB,Love this place! I recommend the cucumber wate...,9 months ago,2021-03-23,5,Abby Williamson,1,0,https://www.google.com/maps/contrib/1134803586...,10810402004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ChZDSUhNMG9nS0VJQ0FnSUR5bjVDOU13EAE,Everything is Amazing!,10 hours ago,2021-03-23,5,Chrystal Lloyd,4,0,https://www.google.com/maps/contrib/1114825301...,10810402004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268089,ChZDSUhNMG9nS0VJQ0FnSUNRNG9UREpBEAE,Best food and beer!! Wonderful little bar - fa...,3 years ago,2021-03-26,5,Kellie Gosselin,0,0,https://www.google.com/maps/contrib/1109886561...,160010001002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268090,ChdDSUhNMG9nS0VJQ0FnSUNROWNENW13RRAB,An essential part of Boise's soul,3 years ago,2021-03-26,5,Michael Schwarzkopf,9,0,https://www.google.com/maps/contrib/1166068942...,160010001002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268091,ChdDSUhNMG9nS0VJQ0FnSUNRbnFfZjVnRRAB,Very good lamb sandwiches and croquetas. Affor...,3 years ago,2021-03-26,4,Mark Crane,0,0,https://www.google.com/maps/contrib/1034301485...,160010001002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268092,ChZDSUhNMG9nS0VJQ0FnSUNBdXBtSVFnEAE,Great small place. Great service and food. Cou...,3 years ago,2021-03-26,4,Andrew Mineo,0,0,https://www.google.com/maps/contrib/1015421558...,160010001002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268093,ChdDSUhNMG9nS0VJQ0FnSUNRajR1ay1BRRAB,A lot of places on our planet try to be all th...,3 years ago,2021-03-26,5,Darrin Woods,0,0,https://www.google.com/maps/contrib/1150007527...,160010001002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN