In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [21]:
def clean_df(df):
    df = df[df.caption != '']
    return df.reset_index(drop=True)

In [24]:
rev_dpath = '../data/outputs/reviews/'
        
rev_files = [rev_dpath+ f for f in os.listdir(rev_dpath)]
df_rev = pd.DataFrame()
for file in rev_files:
    
    df = pd.read_json(file)
    df_clean = clean_df(df)
    df_clean['place_id'] = file.split('_')[0].split('/')[-1]
    df_rev = pd.concat((df_rev, df_clean), ignore_index=True)

In [25]:
df_rev

,id_review,caption,relative_date,retrieval_date,rating,username,n_review_user,n_photo_user,url_user,census_block_group,place_id
0,ChZDSUhNMG9nS0VJQ0FnSUN3a0tYS0N3EAE,Money to pawy secy y QPRyiy,2 years ago,2021-03-23,1,Prathamesh Adhikari,1,0,https://www.google.com/maps/contrib/1146220333...,10730027002,10730027002
1,ChZDSUhNMG9nS0VJQ0FnSUN5LWZtWmZnEAE,One of my new favorite places ðŸ˜‹,a month ago,2021-03-23,5,Monica Crist,20,0,https://www.google.com/maps/contrib/1173007091...,10810402004,10810402004
2,ChZDSUhNMG9nS0VJQ0FnSUQ4dTVxcWFREAE,I got the Peanut Butter Cup Shake and it was r...,7 months ago,2021-03-23,5,Paulina White,0,0,https://www.google.com/maps/contrib/1064251582...,10810402004,10810402004
3,ChdDSUhNMG9nS0VJQ0FnSURjNXVDM25nRRAB,Love this place! I recommend the cucumber wate...,9 months ago,2021-03-23,5,Abby Williamson,1,0,https://www.google.com/maps/contrib/1134803586...,10810402004,10810402004
4,ChZDSUhNMG9nS0VJQ0FnSUR5bjVDOU13EAE,Everything is Amazing!,10 hours ago,2021-03-23,5,Chrystal Lloyd,4,0,https://www.google.com/maps/contrib/1114825301...,10810402004,10810402004
...,...,...,...,...,...,...,...,...,...,...,...
268089,ChZDSUhNMG9nS0VJQ0FnSUNRNG9UREpBEAE,Best food and beer!! Wonderful little bar - fa...,3 years ago,2021-03-26,5,Kellie Gosselin,0,0,https://www.google.com/maps/contrib/1109886561...,160010001002,160010001002
268090,ChdDSUhNMG9nS0VJQ0FnSUNROWNENW13RRAB,An essential part of Boise's soul,3 years ago,2021-03-26,5,Michael Schwarzkopf,9,0,https://www.google.com/maps/contrib/1166068942...,160010001002,160010001002
268091,ChdDSUhNMG9nS0VJQ0FnSUNRbnFfZjVnRRAB,Very good lamb sandwiches and croquetas. Affor...,3 years ago,2021-03-26,4,Mark Crane,0,0,https://www.google.com/maps/contrib/1034301485...,160010001002,160010001002
268092,ChZDSUhNMG9nS0VJQ0FnSUNBdXBtSVFnEAE,Great small place. Great service and food. Cou...,3 years ago,2021-03-26,4,Andrew Mineo,0,0,https://www.google.com/maps/contrib/1015421558...,160010001002,160010001002
268093,ChdDSUhNMG9nS0VJQ0FnSUNRajR1ay1BRRAB,A lot of places on our planet try to be all th...,3 years ago,2021-03-26,5,Darrin Woods,0,0,https://www.google.com/maps/contrib/1150007527...,160010001002,160010001002

In [11]:
rev_files[0].split('_')[0].split('/')[-1]

'10730027002'

In [26]:
df_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268094 entries, 0 to 268093
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_review           268094 non-null  object
 1   caption             268094 non-null  object
 2   relative_date       268094 non-null  object
 3   retrieval_date      268094 non-null  object
 4   rating              268094 non-null  int64
 5   username            268094 non-null  object
 6   n_review_user       268094 non-null  int64
 7   n_photo_user        268094 non-null  int64
 8   url_user            268094 non-null  object
 9   census_block_group  268094 non-null  int64
 10  place_id            268094 non-null  object
dtypes: int64(4), object(7)
memory usage: 22.5+ MB

In [28]:
df_rev['rev_length'] = df_rev['caption'].str.len()
df_rev[['rating', 'rev_length']].corr()

              rating  rev_length
rating      1.000000   -0.215896
rev_length -0.215896    1.000000

In [29]:
df_rev[['rating', 'n_review_user']].corr()

                 rating  n_review_user
rating         1.000000      -0.000546
n_review_user -0.000546       1.000000